<li class="badgeposts">
<div class="container-fluid">
  <div class="row">
    <div class="badgemove">
      <div class="col-sm-12">
        <!--送った人のユーザー情報-->
        <span class="gravatarsent_<%= type %>" title="<%= badgepost.sent_user.message %>">
          <% if type=="sent" %>
            <% if badgepost.sent_user.image? %>
              <div class="middleimage" style="background-image: url(<%= badgepost.sent_user.image.url %>);"></div>
            <% else %>
              <div class="middleimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);"></div>
            <% end %>
            <strong><%= badgepost.sent_user.name %></strong>
          <% else %>
            <% if badgepost.sent_user.image? %>
              <div class="middleimage" style="background-image: url(<%= badgepost.sent_user.image.url %>);">
                <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: badgepost.sent_user.id) %>
              </div>
            <% else %>
              <div class="middleimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);">
                <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: badgepost.sent_user.id) %>
              </div>
            <% end %>
            <strong><%= link_to badgepost.sent_user.name, new_badgepost_path(recept_user_id: badgepost.sent_user.id) %></strong>
          <% end %>
        </span>
      
      
        <!--送られたバッジの情報-->
        <span class="badgeicon_mini">
          <div class="middlebadgeimage">
            <% if badgepost.badge.image? %>
              <%= image_tag(badgepost.badge.image.url) %>
            <% else %>
              <%= image_tag('badge_noimage.gif') %>
            <% end %>
          </div>
          <%= badgepost.badge.name %>
        </span>
      
        <!--三角形を表示-->
        <div class="triangle_<%= type %>"></div>
        

        <!--受け取った人のユーザー情報-->
        <span class="gravatarrecept_<%= type %>" title="<%= badgepost.recept_user.message %>">
          <% if type=="sent" %>
            <% if badgepost.recept_user.image? %>
              <div class="middleimage" style="background-image: url(<%= badgepost.recept_user.image.url %>);">
                <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: badgepost.recept_user.id) %>
              </div>
            <% else %>
              <div class="middleimage" style="background-image: url(<%= asset_path "user_noimageleft.gif" %>);">
                <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: badgepost.recept_user.id) %>
              </div>
            <% end %>
            <strong><%= link_to badgepost.recept_user.name, new_badgepost_path(recept_user_id: badgepost.recept_user.id) %></strong>
          <% else %>
            <% if badgepost.recept_user.image? %>
              <div class="middleimage" style="background-image: url(<%= badgepost.recept_user.image.url %>);"></div>
            <% else %>
              <div class="middleimage" style="background-image: url(<%= asset_path "user_noimageleft.gif" %>);"></div>
            <% end %>
            <strong><%= badgepost.recept_user.name %></strong>
          <% end %>
        </span>
      </div>
    </div>
</div>

<footer>
  <!--コメント-->
  <span class="content">
    <% if badgepost.content == "" %>
      <%= badgepost.recept_user.name %>さんへ<%= badgepost.badge.name %>バッジを贈ります！
    <% else %>
      <%= simple_format(h(badgepost.content)) %>
    <% end %>
  </span>

  <!--タイムスタンプ-->
  <span class="timestamp">
    <%= badgepost.created_at.in_time_zone('Tokyo').to_s(:published_on) %>
    <% if type=="sent" %>
      に贈りました。
    <% else %>
      に獲得しました。
    <% end %>
  </span>
</footer>
</li>

