<li class="badgeposts">
<div class="container-fluid">
  <div class="row">
    <div class="badgemove">
      <div class="col-sm-12">
        <!--送った人のユーザー情報-->
        <span class="gravatarsent_<%= type %>">
          <% if badgepost.sent_user.image? %>
            <%= link_to image_tag(badgepost.sent_user.image.url, {:size => '50x50'}), new_badgepost_path(recept_user_id: badgepost.sent_user.id) %>
          <% else %>
            <%= link_to image_tag('user_noimage.gif', {:size => '50x50'}), new_badgepost_path(recept_user_id: badgepost.sent_user.id) %>
          <% end %>
          <br/>
          <strong><%= link_to badgepost.sent_user.name, new_badgepost_path(recept_user_id: badgepost.sent_user.id) %></strong>
        </span>
      
        <!--送られたバッジの情報-->
        <span class="badgeicon_mini">
          <% if badgepost.badge.image? %>
            <!--<div style="background-image:url(<%= asset_path badgepost.badge.image.url %>); background-repeat: no-repeat" />-->
                        <%= image_tag(badgepost.badge.image.url, :size => '50x50') %>
          <% else %>
            <%= image_tag('badge_noimage.gif', :size => '50x50') %>
          <% end %>
          <br/>
          <%= badgepost.badge.name %>
        </span>
      
        <div class="triangle_<%= type %>"></div>
        

        <!--受け取った人のユーザー情報-->
        <span class="gravatarrecept_<%= type %>">
          <% if badgepost.recept_user.image? %>
            <%= link_to image_tag(badgepost.recept_user.image.url, {:size => '50x50'}), new_badgepost_path(recept_user_id: badgepost.recept_user.id) %>
          <% else %>
            <%= link_to image_tag('user_noimage.gif', {:size => '50x50'}), new_badgepost_path(recept_user_id: badgepost.recept_user.id) %>
          <% end %>
          <br/>
          <strong><%= link_to badgepost.recept_user.name, new_badgepost_path(recept_user_id: badgepost.recept_user.id) %></strong>
        </span>
      </div>
    </div>
</div>

  <footer>
    <!--コメント-->
    <span class="content">
      <% if badgepost.content == "" %>
        <%= badgepost.recept_user.name %>さんへ<%= badgepost.badge.name %>バッジを贈ります！
      <% else %>
        <%= badgepost.content %>
      <% end %>
    </span>
  
    <!--タイムスタンプ-->
    <!--<span class="timestamp">-->
    <!--  time_ago_in_words(badgepost.created_at) 前にバッジが送られました。-->
    <!--</span>-->
  </footer>
</li>