<% provide(:title, 'バッジやりとり一覧') %>

<%= javascript_include_tag 'balloon' %>

<div class="will_paginate"><%= will_paginate %></div>

<div class="container-fluid">
	<div class="row">
		<% badgeposts.each do |badgepost| %>
			<div class="col-md-6">
				<%= render badgepost, type: type %>
			</div>
		<% end %>
	</div>
</div>

<div class="will_paginate"><%= will_paginate %></div>

<script>
// ユーザーの画像に一言メッセージをポップアップ
$(".gravatarsent_<%= type %>").balloon({ position: "right", offsetX: 0, offsetY: -30, 
                      css: { backgroundColor: '#EEFFFF', color: '#000' } });
$(".gravatarrecept_<%= type %>").balloon({ position: "right", offsetX: 0, offsetY: -30, 
                      css: { backgroundColor: '#EEFFFF', color: '#000' } });
</script>
