<% provide(:title, '管理者用') %>
<h1>管理者用ページ</h1>

<%= link_to "ユーザー登録", signup_path %>
<br/>
<br/>

<%= link_to "ユーザー一覧", users_full_index_path %>
<br/>
<br/>

<%= link_to "バッジ作成", new_badge_path %>
<br/>
<br/>

<%= link_to "バッジ一覧", badges_path %>
<br/>
<br/>

<%= link_to "部門作成", new_bumon_path %>
<br/>
<br/>

<%= link_to "部門一覧", bumons_path %>
<br/>
<br/>

<%= link_to "文言作成", new_mongon_path %>
<br/>
<br/>

<%= link_to "文言一覧", mongons_path %>
<br/>
<br/>

<%= link_to "集計", summary_path %>
<br/>
<br/>