<% provide(:title, '管理者用') %>
<h1>管理者用ページ</h1>

<%= link_to "会員登録", signup_path %>
<br/>
<br/>

<%= link_to "バッジ一覧", badges_path %>
<br/>
<br/>

<%= link_to "バッジ作成", new_badge_path %>
<br/>
<br/>

<%= link_to "部門一覧", bumons_path %>
<br/>
<br/>

<%= link_to "部門作成", new_bumon_path %>
