- provide(:title, '（受信）バッジ別ユーザー別集計')
.one_column_container_large
  .summary
    %h2 （受信）バッジ別ユーザー別集計
    = form_for @form, url: summary_recept_badge_user_path, method: :get do |f|
      %div{:style => "display:inline-flex"}
        = f.date_select :summary_start_date
        ～
        \#{f.date_select :summary_end_date}
        %p= f.submit '集計実行', class: "btn btn-success", data: { disable_with: "集計中..."}
    %br/
    - if !@users.nil?
      - zenkai_badge_id = ""
      %table.table
        %tr{:bgcolor => "green"}
          %th
            %font{:color => "white"} バッジ名
          %th
            %font{:color => "white"} 部門名
          %th
            %font{:color => "white"} ユーザー名
          %th
            %font.pull-right{:color => "white"} バッジ数
        - @receptbadgeposts.each do |receptbadgepost|
          %tr
            %td
              - unless zenkai_badge_id == receptbadgepost.badge_id
                = @badgename_hash.has_key?(receptbadgepost.badge_id)? @badgename_hash[receptbadgepost.badge_id] : ""
                - zenkai_badge_id = receptbadgepost.badge_id
            - user_info = @userinfo_hash[receptbadgepost.recept_user_id] if @userinfo_hash.has_key?(receptbadgepost.recept_user_id)
            - if user_info.nil?
              %td
            - else
              %td= @bumonname_hash.has_key?(user_info.bumon_id)? @bumonname_hash[user_info.bumon_id] : ""
            - if user_info.nil?
              %td
            - else
              %td
                - unless user_info.activeflg?
                  【無効】
                = user_info.name
            %td
              .pull-right= receptbadgepost.count
