<body id="login">
  <div id="bgimg"></div>
  <div class="content">
    <div class="col-md-7 left-content">
      <h1>SMILE Badge!!</h1>
      <h2>バッジを贈って気軽に、<br/>カジュアルにホメよう！</h2>
      <h3><b>TOTAL<span class="loginbadgecount"><%= number_with_delimiter(Badgepost.count) %></span><%= Badgepost.count >= 2? "BADGES" : "BADGE" %> !!</b></h3>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 right-content">
          <%= form_for(:session, url: login_path) do |f| %>
            <h2>ログインする</h2>
      
            <%= f.label "メールアドレス" %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label "パスワード" %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>ログイン情報を保存する</span>
            <% end %>
            
            <%= f.submit "ログイン", class: "btn btn-primary" %>
            
            <%= link_to "パスワードを忘れた場合はこちら", new_password_reset_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
$(function() {
  var i = 2;
  var fadeOut_time = 1000;
  var fadeIn_time = 4000;
  var slide_interval_time = 15000;
  var layer = $("#bgimg");
    setInterval(function() {
      if(i > 10) i = 1;
        if(i == 1 ){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/1.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 2){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/2.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 3){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/3.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 4){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/4.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 5){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/5.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 6){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/6.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 7){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/7.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 8){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/8.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 9){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/9.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
        else if(i == 10){
          layer.fadeOut(fadeOut_time, function(){
            layer.css("background-image","url(<%= asset_path "background/10.jpg" %>)").fadeIn(fadeIn_time);
          });
        }
      i++;
    }, slide_interval_time
  );
});
</script>
