%p.badgesendlink
  - if current_user?(user)
    %h3.center_mini_device
      = link_to users_path, :class => "badge_send_button_top" do
        %span.minismile= image_tag asset_path "smile.png"
        バッジを贈る！！
  - else
    %span.username
      %b= user.name
      さんに
    %span.br_mini_device
      %br
      %br
    = link_to new_badgepost_path(recept_user_id: user.id), :class => "badge_send_button_profile" do
      %span.minismile
        = image_tag asset_path "smile.png"
        バッジを贈る！！
