<% provide(:title, '全メンバー') %>
<%= javascript_include_tag 'balloon' %>

<div class="userindex">
  <% if adminModeFlg %>
    <div class="search">
      <%= form_for @form, url: users_full_index_path, method: :get do |f| %>
        <div class="searchbox" style="display:inline-flex">
          <%= f.text_field :searchword, placeholder: "名前、かな、アドレス", required: true %>
          <%= f.submit '検索する', class: "btn btn-success", data: { disable_with: "検索中..."} %>
        </div>
      <% end %>
    </div>
    <h2><%= link_to "全ユーザーを表示", users_full_index_path %></h2>
    <h1>プロフィールを編集するメンバーを選んでね！！</h1>
    <% @index_action_name = "full_index" %>
  <% else %>
    <div class="search">
      <%= form_for @form, url: users_path, method: :get do |f| %>
        <div class="searchbox" style="display:inline-flex">
          <%= f.text_field :searchword, placeholder: "名前、かな、アドレス", required: true %>
          <%= f.submit '検索する', class: "btn btn-success", data: { disable_with: "検索中..."} %>
        </div>
      <% end %>
    </div>
    <h2><%= link_to "全ユーザーを表示", users_path %></h2>
    <h1>バッジを贈るメンバーを選んでね！！</h1>
    <% @index_action_name = "index" %>
  <% end %>
  
  <%= render 'users/partial_bumon_search' %>
  
  <br/>
  
  <%= render 'users/partial_initial_letter' %>
  
  <div class="will_paginate"><%= will_paginate %></div>
  
  <h2>全メンバー (<%= @users.count %>)</h2>
  <div class="container-fluid">
    <div class="row">
        <section>
          <% if @users.any? %>
            <ol class="users">
              <% @users.each do |user| %>
                <div class="col-md-6">
                  <li>
                    <% if adminModeFlg == true %>
                      <!--管理モード時-->
                      <span class="gravatar" title="<%= user.message %>">
                        <% if user.image? %>
                          <div class="middleimage" style="background-image: url(<%= user.image.url %>);"></div>
                        <% else %>
                          <div class="middleimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);"></div>
                        <% end %>
                      </span>
                      <span class="user"><b><%= user.name %></b></span>
                      <br/>
                      <span><%= user.bumon.name %></span>
                      <br/>
                      <%= user.activeflg ? "" : "【無効】" %>
                      <%= user.adminflg ? "【管理者】" : ""  %>
                      <%= link_to "プロフィール編集", edit_user_path(user.id) %>
                    <% else %>
                      <!--バッジ送付先選択画面時-->
                      <span class="gravatar" title="<%= user.message %>">
                        <% if user.image? %>
                          <div class="middleimage" style="background-image: url(<%= user.image.url %>);">
                            <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: user.id) %>
                          </div>
                        <% else %>
                          <div class="middleimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);">
                            <%= link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: user.id) %>
                          </div>
                        <% end %>
                      </span>
                      <span class="user">
                        <%= link_to new_badgepost_path(recept_user_id: user.id) do %>
                          <div class="minismile_float"><%= image_tag asset_path "smile.png" %></div>
                          <span class="badgesendlink"><b><span class="username"><%= user.name %></span>さんにバッジを贈る！！</b></span>
                        <% end %>
                      </span>
                      <br/>
                      <span><%= user.bumon.name %></span>
                      <br/>
                      <i class="fa fa-user fa-fw"></i><%= link_to "プロフィール", user %>
                    <% end %>
                  </li>
                  <br/>
                  <br/>
                </div>
              <% end %>
            </ol>
          <% end %>
        </section>
      </div>
  </div>
  
  <div class="will_paginate"><%= will_paginate %></div>
</div>

<% if current_user.sent_badgeposts.count >= 1 && @graph_recept30days.present? %>
  <!--過去30日間に獲得したバッジグラフ表示-->
  <%= high_chart("radar", @graph_recept30days) %>
<% else %>
  <h3>まずはバッジを1個贈ってみよう！</h3>
  <h3>この部門がもらったグラフが表示されるよ！</h3>
<% end %>

<script>
// ユーザーの画像に一言メッセージをポップアップ
$(".gravatar").balloon({ position: "right", offsetX: 0, offsetY: -30, 
                      css: { backgroundColor: '#EEFFFF', color: '#000' } });
</script>
