<h1>
  <%= @user.name %>
</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @user.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <% if @user.image? %>
      <div class="thumbnail">
        <%= image_tag @user.image.url %>
      </div>
    <% end %>
    <br>
    <%= f.label :image %>
    <br>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <% if @user.persisted? && @user.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
    
    <br/>
    <br/>
  
    <% if logged_in_adminuser? %>
    <!--管理者なら-->
      <%= f.label "ユーザー有効フラグ" %>
      <%= f.check_box 'activeflg' %>
      
      <%= f.label "管理者フラグ" %>
      <%= f.check_box 'adminflg' %>
      
      <%= f.label "氏名" %>
      <%= f.text_field :name, required: true %>
      
      <%= f.label "ふりがな" %>
      <%= f.text_field :kananame, required: true %>
      
      <%= f.label "部門名" %>
      <%= f.collection_select(:bumon_id, Bumon.all.order(:outputnumber), :id, :name) %>
      
      <%= f.label "メールアドレス" %>
      <%= f.email_field :email %>
    <% else %>
    <!--通常ユーザーなら-->
      <p><%= f.label "氏名" %></p>
      <p><%= @user.name %></p>
      
      <p><%= f.label "ふりがな" %></p>
      <p><%= @user.kananame %></p>
      
      <p><%= f.label "部門名" %></p>
      <p><%= @user.bumon.name %></p>
      
      <p><%= f.label "メールアドレス" %></p>
      <p><%= @user.email %></p>
    <% end %>
    
    
    <%= f.label "ニックネーム" %>
    <%= f.text_field :nickname %>
    
    <%= f.label "キャッチフレーズ" %>
    <%= f.text_field :catchphrase %>

    <%= f.label "好きな言葉・座右の銘・マイルール" %>
    <%= f.text_area :myword, :size => "10x5" %>
    
    <%= f.label "趣味" %>
    <%= f.text_area :hobby, :size => "10x5" %>
    
    <%= f.label "一言メッセージ" %>
    <%= f.text_field :message %>

    <%= f.label "パスワード（変更する場合は入力してください）" %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :password_confirmation, "パスワード（確認）" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
      
  <%= f.submit "プロフィールを更新", class: "btn btn-sm btn-primary" %>
<% end %>


<script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('ファイルの上限は2MBまでです。容量の小さいファイルを選択してください。');
    }
  });
</script>