.profile_show
  %p.badgesendlink
    - unless current_user?(@user)
      %span.username
        %b
          = @user.name + "さんに"
      %span.badge_send_button_profile
        = link_to new_badgepost_path(recept_user_id: @user.id) do
          %span.minismile
            = image_tag asset_path "smile.png"
            バッジを贈る！！
  .users
    - if current_user?(@user) || logged_in_adminuser?
      / 自分自身か、管理者ユーザーは編集OK
      .edit_profile
        %i.fa.fa-cog.fa-fw
        = link_to "プロフィール・パスワードの編集" , edit_user_path(@user)
  .row
    .col-md-4
      .name_block
        %p.bumon_name= @user.bumon.name
        %p.kananame= @user.kananame
        %p.name
          %b= @user.name
        %p.nickname
          ニックネーム：
          %b
            %span.nicknamevalue= @user.nickname
        %p.email
          メールアドレス：#{@user.email}
    .col-md-4
      %section.user_info
        %p.gravatar
          - if @user.image?
            .largeimage{:style => "background-image: url(#{@user.image.url});"}
              - unless current_user?(@user)
                = link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: @user.id)
          - else
            .largeimage{:style => "background-image: url(#{asset_path "user_noimage.gif"});"}
              - unless current_user?(@user)
                = link_to image_tag('empty.gif'), new_badgepost_path(recept_user_id: @user.id)
        .arrow_box
          %b= @user.message
      .myjob
        %p
          %b こんな仕事をしています
        %hr/
        %span= simple_format(h(@user.myjob))
    .col-md-4
      .myword
        %p
          %b 好きな言葉・座右の銘・マイルール
        %hr/
        %span= simple_format(h(@user.myword))
      .hobby
        %p
          %b 趣味
        %hr/
        %span= simple_format(h(@user.hobby))
  %br/
  - if current_user.sent_badgeposts.count >= 1
    / 過去30日間に獲得したバッジグラフ表示
    = high_chart("radar1", @graph_recept30days)
    / 今までに獲得したバッジグラフ表示
    = high_chart("radar2", @graph_recept)
    / 今までに贈ったバッジグラフ表示
    = high_chart("radar3", @graph_sent)
  - else
    .graph_blank
      %h3 まずはバッジを1個贈ってみよう！
      %h3 やり取りしたバッジのバランスグラフ
      %h3 が表示されるよ！
