<div class="users">
  <% if current_user?(@users) || logged_in_adminuser? %>
  <!--自分自身か、管理者ユーザーは編集OK-->
    <div class="edit_profile"><%= link_to "プロフィールの編集" , edit_user_path(current_user) %></div>
  <% end %>
</div>

<div class="row">
  <aside class="col-md-4">

    <%= @user.bumon.name %>
    
    <h3><%= @user.name %></h3>
    
    <section class="user_info">
      <h1>
        <span class="gravatar">
            <% if @user.image1? %>
              <div class="largeimage" style="background-image: url(<%= @user.image1.url %>);"></div>
            <% else %>
              <div class="largeimage" style="background-image: url(user_noimage.gif);"></div>
            <% end %>
        </span>
      </h1>
    </section>
    
  <%= form_for(@user) do |f| %>
    <% if @user.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @user.errors.full_messages.each do |full_message| %>
            <li>
              <%= full_message %>
            </li>
          <% end %> 
        </ul>
      </div>
    <% end %>
    
    ふりがな：
    <%= @user.kananame %>
    <br/>
    <br/>
    
    ニックネーム：
    <%= @user.nickname %>
    <br/>
    <br/>
    
    メールアドレス：
    <%= @user.email %>
    <br/>
    <br/>
  
    好きな言葉・座右の銘・マイルール：
    <%= simple_format(h(@user.myword)) %>
    <br/>
    <br/>
    
    趣味：
    <%= simple_format(h(@user.hobby)) %>
    <br/>
    <br/>
    
    一言メッセージ：
    <%= @user.message %>
    <br/>
    <br/>
    
  <% end %>
  
</div>

<br/>

<h2><%= @maxbagecount %></h2>

<!--グラフ表示-->
<%= high_chart("radar", @graph) %>