= javascript_include_tag 'btn'
.badgepostsform
  = form_for(@badgepost) do |f|
    = render 'shared/error_messages', object: f.object
    %p.gravatar
      - if @recept_user.image?
        .middleimage{:style => "background-image: url(#{@recept_user.image.url});"}
      - else
        .middleimage{:style => "background-image: url(#{asset_path "user_noimage.gif"});"}
    %p
      %span.username>= @recept_user.name
      さんにバッジを贈ろう！！
    = f.hidden_field :badge_id, :value => ""
    - kaigyouflg = false
    .container-fluid
      .row
        .col-md-7
          %section.valuebadges
            - if @valuebadges.any?
              %ul
                %h3
                  %b バリューバッジ
                - @valuebadges.each do |badge|
                  %li
                    - next if badge.optionflg
                    .badgeicon_big{:id => "id_badge_#{badge.id}"}
                      .slideRight
                        .gravatar{:onclick => "set_badge_id(#{badge.id}, #{badge.name.to_json})"}
                          .largebadgeimage{:id => "id_badgelargeimage_#{badge.id}"}
                            .largebadgeimage_spin
                              - if badge.image?
                                = image_tag(badge.image.url)
                              - else
                                = image_tag('badge_noimage.gif')
                          .badge_checked{:id => "badge_checked_#{badge.id}"}= image_tag('check_big.png', {:size => '30x30'})
                          %span.badge_explanation= simple_format(h(badge.explanation))
                      %p.clear_both= badge.name
          %section.optionbadges
            - if @optionbadges.any?
              %ul
                %h3
                  %b アソビバッジ
                - @optionbadges.each do |badge|
                  %li
                    - next if !badge.optionflg
                    .badgeicon_big{:id => "id_badge_#{badge.id}"}
                      .slideRight
                        .gravatar{:onclick => "set_badge_id(#{badge.id}, #{badge.name.to_json})"}
                          .largebadgeimage{:id => "id_badgelargeimage_#{badge.id}"}
                            .largebadgeimage_spin
                              - if badge.image?
                                = image_tag(badge.image.url)
                              - else
                                = image_tag('badge_noimage.gif')
                          .badge_checked{:id => "badge_checked_#{badge.id}"}= image_tag('check_big.png', {:size => '30x30'})
                          %span.badge_explanation= simple_format(h(badge.explanation))
                      %p.clear_both= badge.name
        %br/
        .col-md-5
          .field
            .recept_user_name #{@recept_user.name}さん宛
            %label#selected_badge_name バッジを選択してね！
            = f.hidden_field :recept_user_id, :value => @recept_user.id
            = f.text_area :content, placeholder: @recept_user.name + "さんのどんなところが良かったかを書いてね！", |
              :size => "10x6", :maxlength => "140", required: true |
          = f.submit "バッジを贈る！！", class: "btn btn-primary"
