<%= javascript_include_tag 'btn' %>

<div class="badgepostsform">
<%= form_for(@badgepost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <p class="gravatar">
    <% if @recept_user.image? %>
      <div class="largeimage" style="background-image: url(<%= @recept_user.image.url %>);"></div>
    <% else %>
      <div class="largeimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);"></div>
    <% end %>
  </p>
  <p><span class="username"><%= @recept_user.name %></span>さんにバッジを贈ろう！！</p>
  
  <%= f.hidden_field :badge_id, :value => "" %>

  <% kaigyouflg = false %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <section class="valuebadges">
          <% if @valuebadges.any? %>
          <ul>
            <h3><b>バリューバッジ</b></h3>
            <p>バリューバッジはいくつでも贈れるよ！</p>
            <% @valuebadges.each do |badge| %>
            <li>
              <% next if badge.optionflg %>
              <div class="badgeicon_big" id="id_badge_<%= badge.id %>">
                <div class="gravatar" onclick="set_badge_id(<%= badge.id %>, <%= badge.name.to_json %>, 1)">
                  <div class="largebadgeimage">
                    <% if badge.image? %>
                      <%= image_tag(badge.image.url) %>
                    <% else %>
                      <%= image_tag('badge_noimage.gif') %>
                    <% end %>
                  </div>
                  <div id="badge_checked_<%= badge.id %>" class="badge_checked"><%= image_tag('check_big.png', {:size => '30x30'}) %></div>
                  <span class="badge_explanation"><%= simple_format(h(badge.explanation)) %></span>
                </div>
                <p class="clear"><%= badge.name %></p>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>
        </section>

        <section class="optionbadges">
          <% if @optionbadges.any? %>
          <ul>
            <h3><b>アソビバッジ</b></h3>
            <p>アソビバッジは1種類につき3個／月まで贈れるよ！</p>
            <% @optionbadges.each do |badge| %>
            <li>
              <% next if !badge.optionflg %>
              <div class="badgeicon_big" id="id_badge_<%= badge.id %>">
                <!--バッジ送信可能数-->
                <% @sentbadgecount = 0 %>
                <% @sentbadgecount = @badgecounthash[badge.id] if @badgecounthash.has_key?(badge.id) %>
                <% @usablebadgecount = 0 %>
                <% @usablebadgecount = 3 - @sentbadgecount if @sentbadgecount <= 3 %>
                <div class="gravatar" onclick="set_badge_id(<%= badge.id %>, <%= badge.name.to_json %>, <%= @usablebadgecount %>)">
                  <div class="largebadgeimage">
                    <% if badge.image? %>
                      <% if @usablebadgecount <= 0 %>
                        <%= image_tag('soldout.png') %>
                      <% else %>
                        <%= image_tag(badge.image.url) %>
                      <% end %>
                    <% else %>
                      <%= image_tag('badge_noimage.gif') %>
                    <% end %>
                  </div>
                  <div id="badge_checked_<%= badge.id %>" class="badge_checked"><%= image_tag('check_big.png', {:size => '30x30'}) %></div>
                  <span class="badge_explanation"><%= simple_format(h(badge.explanation)) %></span>
                </div>
                <p class="clear"><%= badge.name %></p>
              </div>
              <div class="badgecount">
                残り<%= @usablebadgecount %>回
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>
        </section>
      </div>
      
    <br/>

    <div class="col-md-5">
      <div class="field">
      
      <label id="selected_badge_name">バッジを選択してね！</label>
      
      <%= f.hidden_field :recept_user_id, :value => @recept_user.id %>
          <%= f.text_area :content, placeholder: @recept_user.name + "さんのどんなところが良かった書いてね！",
            :size => "10x6", :maxlength => "140" %>
      </div>
      
      <%= f.submit "バッジを贈る！！", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>
