<div class="toppage_info">
  <p>《 私たちでイキキした活気ある会社にしませんか！》</p>
  <p>         -  Sunshine Award  Smile Badge 2016 -</p>
  <p> </p>
  <p>　　　　　　「全員経営」＝「全員投票」</p>
  <p> </p>
  <p>31期よりSunshine　Aeard の 投票スタイルを Smile badge として</p>
  <p>リニューアルスタートします！</p>
  <p></p>
  <p>社員同士が思いやり、感謝しあることを通じて、遣り甲斐のある</p>
  <p>イキイキと活気あふれる職場を31期も目指します。</p>
  <p> </p>
  <p>会社が大切にしているOPSをSmaie Badgeで具現化し、私たち</p>
  <p>1人ひとりが意識を高め、働きやすく、風通しの良い環境を</p>
  <p>社員全員で作りましょう！</p>
  <p>adgeを贈ったり、貰ったりと今まで以上にタイムリー確認ができ、</p>
  <p>スマホでも投票が出来ます！</p>
  <p> </p>
  <p>会社の大切な取組です。是非「全員経営」＝「全員投票」で積極的な</p>
  <p>参加をお願いします。</p>
</div>

<div class="user_info">
  <h3>
    <%= link_to users_path do %>
      <span class="minismile"><%= image_tag asset_path "smile.png" %></span>
      バッジを贈る！！
    <% end %>
  </h3>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="name_block">
        <p><%= current_user.bumon.name %></p>
        <h3><%= current_user.name %></h3>
      </div>
      
      <% if current_user.image? %>
        <div class="largeimage" style="background-image: url(<%= current_user.image.url %>);">
          <%= link_to image_tag('empty.gif'), current_user %>
        </div>
      <% else %>
        <div class="largeimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);">
          <%= link_to image_tag('empty.gif'), current_user %>
        </div>
      <% end %>
    
      <div class="user_badge_info">
        <p><i class="fa fa-user fa-fw"></i><%= link_to "マイページ", current_user %></p>
        <p><%= "30日間に " + current_user.recept_badgeposts.where("created_at > ?", 30.days.ago).count.to_s + "個のバッジを獲得しました。" %></p>
        <p><%= "今までに " + current_user.recept_badgeposts.count.to_s + "個のバッジを獲得しました。" %></p>
        <p><%= "今までに " + current_user.sent_badgeposts.count.to_s + "個のバッジを贈りました。" %></p>
      </div>
    </div>
  
    <div class="col-md-7">
      <!--過去30日間に獲得したバッジグラフ表示-->
      <%= high_chart("radar", @feedgraph_recept30days) %>
    </div>
  </div>
  </div>
  
</div>

<%= render 'shared/feed' %>