<% @mongon = Mongon.find_by(kubun: 1) %>
<% if @mongon.present? %>
  <div class="toppage_info">
    <%= simple_format(h(@mongon.content.html_safe)) %>
  </div>
<% end %>

<div class="user_info">
  <h3>
    <%= link_to users_path do %>
      <span class="minismile"><%= image_tag asset_path "smile.png" %></span>
      バッジを贈る！！
    <% end %>
  </h3>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="name_block">
        <p><%= current_user.bumon.name %></p>
        <h3><%= current_user.name %></h3>
      </div>
      
      <p class="gravatar">
        <% if current_user.image? %>
          <div class="largeimage" style="background-image: url(<%= current_user.image.url %>);">
            <%= link_to image_tag('empty.gif'), current_user %>
          </div>
        <% else %>
          <div class="largeimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);">
            <%= link_to image_tag('empty.gif'), current_user %>
          </div>
        <% end %>
      </p>

      <div class="arrow_box"><b><%= current_user.message %></b></div>
    
      <div class="user_badge_info">
        <p><i class="fa fa-user fa-fw"></i><%= link_to "マイページ", current_user %></p>
        <p><%= "30日間に " + current_user.recept_badgeposts.where("created_at > ?", 30.days.ago).count.to_s + "個のバッジを獲得しました。" %></p>
        <p><%= "今までに " + current_user.recept_badgeposts.count.to_s + "個のバッジを獲得しました。" %></p>
        <p><%= "今までに " + current_user.sent_badgeposts.count.to_s + "個のバッジを贈りました。" %></p>
      </div>
    </div>
  
    <div class="col-md-7">
      <% if current_user.sent_badgeposts.count >= 1 %>
        <!--過去30日間に獲得したバッジグラフ表示-->
        <%= high_chart("radar", @feedgraph_recept30days) %>
      <% else %>
        <div class="graph_blank">
          <h3>まずはバッジを1個贈ってみよう！</h3>
          <h3>もらったバッジのバランスグラフ</h3>
          <h3>が表示されるよ！</h3>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  
</div>

<%= render 'shared/feed' %>