<h3>
  <%= link_to users_path do %>
    <span class="minismile"><%= image_tag asset_path "smile.png" %></span>
    バッジを贈る！！
  <% end %>
</h3>

<br/>

<p><%= current_user.bumon.name %></p>

<h3><%= current_user.name %></h3>

<% if current_user.image? %>
  <div class="largeimage" style="background-image: url(<%= current_user.image.url %>);">
    <%= link_to image_tag('empty.gif'), current_user %>
  </div>
<% else %>
  <div class="largeimage" style="background-image: url(<%= asset_path "user_noimage.gif" %>);">
    <%= link_to image_tag('empty.gif'), current_user %>
  </div>
<% end %>
<br/>

<br/>
<p><%= link_to "自分のプロフィールを見る", current_user %></p>
<p><%= "今までに " + current_user.sent_badgeposts.count.to_s + "個のバッジを贈りました。" %></p>
<p><%= "今までに " + current_user.recept_badgeposts.count.to_s + "個のバッジを獲得しました。" %></p>
