<h1>
  <%= @bumon.name %>
</h1>

<%= form_for(@bumon) do |f| %>

    <%= f.label "部門有効フラグ" %>
    <%= f.check_box 'activeflg' %>

    <%= f.label "表示順" %>
    <%= f.number_field :outputnumber %>
    
    <%= f.label "部門名" %>
    <%= f.text_field :name %>

  <%= f.submit "部門名を更新", class: "btn btn-sm btn-primary" %>
<% end %>
