%h1 部門登録
.row
  .col-md-6.col-md-offset-3
    = form_for(@bumon) do |f|
      = render 'shared/error_messages', object: f.object
      = f.label "部門有効フラグ"
      = f.check_box 'activeflg', {:checked => true}
      = f.label "表示順"
      = f.number_field :outputnumber
      = f.label "部門名"
      = f.text_field :name
      = f.submit "部門登録", class: "btn btn-large btn-primary"
