!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title SMILE Badge!!
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
    = analytics_init if GA.tracker != GoogleAnalytics::PLACEHOLDER_TRACKER
  %body
    .body_back_image
      .layerTransparent
        = render 'layouts/header'
        .container
          - flash.each do |message_type, message|
            = content_tag(:div, message, class: "alert alert-#{message_type}")
          = yield
        = render partial: "layouts/footer"
    :javascript
      window._pt_lt = new Date().getTime();
      	  window._pt_sp_2 = [];
      	  _pt_sp_2.push('setAccount,4f8b5146');
      	  var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      	  (function() {
      		var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
      		atag.src = _protocol + 'js.ptengine.jp/pta.js';
      		var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
      		stag.src = _protocol + 'js.ptengine.jp/pts.js';
      		var s = document.getElementsByTagName('script')[0]; 
      		s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
      	  })();
