!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title SMILE Badge!!
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
  %body
    / Google Tag Manager
    %noscript
      %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-MX5V7K", :style => "display:none;visibility:hidden", :width => "0"}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MX5V7K');/ End Google Tag Manager
    .body_back_image
      .layerTransparent
        = render 'layouts/header'
        .container
          - flash.each do |message_type, message|
            = content_tag(:div, message, class: "alert alert-#{message_type}")
          = yield
        = render partial: "layouts/footer"
